xsd/killbill-catalog-0.1.56-SNAPSHOT.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
<xs:element name="catalog" type="standaloneCatalog"/>
<xs:complexType name="standaloneCatalog">
<xs:complexContent>
<xs:extension base="validatingConfig">
<xs:sequence>
<xs:element name="effectiveDate" type="xs:dateTime"/>
<xs:element name="catalogName" type="xs:string"/>
<xs:element name="currencies">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="currency" type="currency"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="units">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="unit" type="defaultUnit"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="products">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="product" type="defaultProduct"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="rules" type="planRules"/>
<xs:element name="plans">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="plan" type="defaultPlan"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="priceLists" type="defaultPriceListSet"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType abstract="true" name="validatingConfig">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="defaultUnit">
<xs:complexContent>
<xs:extension base="validatingConfig">
<xs:sequence/>
<xs:attribute name="name" type="xs:ID" use="required"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="defaultProduct">
<xs:complexContent>
<xs:extension base="validatingConfig">
<xs:sequence>
<xs:element name="category" type="productCategory"/>
<xs:element minOccurs="0" name="included">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="addonProduct" type="xs:IDREF"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="available">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="addonProduct" type="xs:IDREF"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="name" type="xs:ID" use="required"/>
<xs:attribute name="retired" type="xs:boolean"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="planRules">
<xs:complexContent>
<xs:extension base="validatingConfig">
<xs:sequence>
<xs:element minOccurs="0" name="changePolicy">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="changePolicyCase" type="caseChangePlanPolicy"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="changeAlignment">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="changeAlignmentCase" type="caseChangePlanAlignment"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="cancelPolicy">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="cancelPolicyCase" type="caseCancelPolicy"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="createAlignment">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="createAlignmentCase" type="caseCreateAlignment"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="billingAlignment">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="billingAlignmentCase" type="caseBillingAlignment"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="priceList">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="priceListCase" type="casePriceList"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="caseChangePlanPolicy">
<xs:complexContent>
<xs:extension base="caseChange">
<xs:sequence>
<xs:element name="policy" type="actionPolicy"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType abstract="true" name="caseChange">
<xs:complexContent>
<xs:extension base="validatingConfig">
<xs:sequence>
<xs:element minOccurs="0" name="phaseType" type="phaseType"/>
<xs:element minOccurs="0" name="fromProduct" type="xs:IDREF"/>
<xs:element minOccurs="0" name="fromProductCategory" type="productCategory"/>
<xs:element minOccurs="0" name="fromBillingPeriod" type="billingPeriod"/>
<xs:element minOccurs="0" name="fromPriceList" type="xs:IDREF"/>
<xs:element minOccurs="0" name="toProduct" type="xs:IDREF"/>
<xs:element minOccurs="0" name="toProductCategory" type="productCategory"/>
<xs:element minOccurs="0" name="toBillingPeriod" type="billingPeriod"/>
<xs:element minOccurs="0" name="toPriceList" type="xs:IDREF"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="defaultPriceList">
<xs:complexContent>
<xs:extension base="validatingConfig">
<xs:sequence>
<xs:element name="plans">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="plan" type="xs:IDREF"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="name" type="xs:ID" use="required"/>
<xs:attribute name="retired" type="xs:boolean"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="defaultPlan">
<xs:complexContent>
<xs:extension base="validatingConfig">
<xs:sequence>
<xs:element minOccurs="0" name="effectiveDateForExistingSubscriptons" type="xs:dateTime"/>
<xs:element name="product" type="xs:IDREF"/>
<xs:element minOccurs="0" name="initialPhases">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="phase" type="defaultPlanPhase"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="finalPhase" type="defaultPlanPhase"/>
<xs:element minOccurs="0" name="plansAllowedInBundle" type="xs:int"/>
</xs:sequence>
<xs:attribute name="name" type="xs:ID" use="required"/>
<xs:attribute name="retired" type="xs:boolean"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="defaultPlanPhase">
<xs:complexContent>
<xs:extension base="validatingConfig">
<xs:sequence>
<xs:element name="duration" type="defaultDuration"/>
<xs:element name="billingPeriod" type="billingPeriod"/>
<xs:element minOccurs="0" name="recurringPrice" type="defaultInternationalPrice"/>
<xs:element minOccurs="0" name="fixedPrice" type="defaultInternationalPrice"/>
<xs:element minOccurs="0" name="limits">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="limit" type="defaultLimit"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="type" type="phaseType" use="required"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="defaultDuration">
<xs:complexContent>
<xs:extension base="validatingConfig">
<xs:sequence>
<xs:element name="unit" type="timeUnit"/>
<xs:element minOccurs="0" name="number" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="defaultInternationalPrice">
<xs:complexContent>
<xs:extension base="validatingConfig">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="price" type="defaultPrice"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="defaultPrice">
<xs:complexContent>
<xs:extension base="validatingConfig">
<xs:sequence>
<xs:element name="currency" type="currency"/>
<xs:element name="value" nillable="true" type="xs:decimal"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="defaultLimit">
<xs:complexContent>
<xs:extension base="validatingConfig">
<xs:sequence>
<xs:element name="unit" type="xs:IDREF"/>
<xs:element minOccurs="0" name="max" type="xs:double"/>
<xs:element minOccurs="0" name="min" type="xs:double"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="caseChangePlanAlignment">
<xs:complexContent>
<xs:extension base="caseChange">
<xs:sequence>
<xs:element name="alignment" type="planAlignmentChange"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="caseCancelPolicy">
<xs:complexContent>
<xs:extension base="casePhase">
<xs:sequence>
<xs:element name="policy" type="actionPolicy"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType abstract="true" name="casePhase">
<xs:complexContent>
<xs:extension base="caseStandardNaming">
<xs:sequence>
<xs:element minOccurs="0" name="phaseType" type="phaseType"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType abstract="true" name="caseStandardNaming">
<xs:complexContent>
<xs:extension base="case">
<xs:sequence>
<xs:element minOccurs="0" name="product" type="xs:IDREF"/>
<xs:element minOccurs="0" name="productCategory" type="productCategory"/>
<xs:element minOccurs="0" name="billingPeriod" type="billingPeriod"/>
<xs:element minOccurs="0" name="priceList" type="xs:IDREF"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType abstract="true" name="case">
<xs:complexContent>
<xs:extension base="validatingConfig">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="caseCreateAlignment">
<xs:complexContent>
<xs:extension base="caseStandardNaming">
<xs:sequence>
<xs:element name="alignment" type="planAlignmentCreate"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="caseBillingAlignment">
<xs:complexContent>
<xs:extension base="casePhase">
<xs:sequence>
<xs:element name="alignment" type="billingAlignment"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="casePriceList">
<xs:complexContent>
<xs:extension base="case">
<xs:sequence>
<xs:element minOccurs="0" name="fromProduct" type="xs:IDREF"/>
<xs:element minOccurs="0" name="fromProductCategory" type="productCategory"/>
<xs:element minOccurs="0" name="fromBillingPeriod" type="billingPeriod"/>
<xs:element minOccurs="0" name="fromPriceList" type="xs:IDREF"/>
<xs:element name="toPriceList" type="xs:IDREF"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="defaultPriceListSet">
<xs:complexContent>
<xs:extension base="validatingConfig">
<xs:sequence>
<xs:element name="defaultPriceList" type="priceListDefault"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="childPriceList" type="defaultPriceList"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="priceListDefault">
<xs:complexContent>
<xs:extension base="defaultPriceList">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:simpleType name="currency">
<xs:restriction base="xs:string">
<xs:enumeration value="GBP"/>
<xs:enumeration value="MXN"/>
<xs:enumeration value="BRL"/>
<xs:enumeration value="EUR"/>
<xs:enumeration value="AUD"/>
<xs:enumeration value="USD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="productCategory">
<xs:restriction base="xs:string">
<xs:enumeration value="BASE"/>
<xs:enumeration value="ADD_ON"/>
<xs:enumeration value="STANDALONE"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="actionPolicy">
<xs:restriction base="xs:string">
<xs:enumeration value="END_OF_TERM"/>
<xs:enumeration value="IMMEDIATE"/>
<xs:enumeration value="ILLEGAL"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="phaseType">
<xs:restriction base="xs:string">
<xs:enumeration value="TRIAL"/>
<xs:enumeration value="DISCOUNT"/>
<xs:enumeration value="FIXEDTERM"/>
<xs:enumeration value="EVERGREEN"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="billingPeriod">
<xs:restriction base="xs:string">
<xs:enumeration value="MONTHLY"/>
<xs:enumeration value="QUARTERLY"/>
<xs:enumeration value="ANNUAL"/>
<xs:enumeration value="NO_BILLING_PERIOD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="timeUnit">
<xs:restriction base="xs:string">
<xs:enumeration value="DAYS"/>
<xs:enumeration value="MONTHS"/>
<xs:enumeration value="YEARS"/>
<xs:enumeration value="UNLIMITED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="planAlignmentChange">
<xs:restriction base="xs:string">
<xs:enumeration value="START_OF_BUNDLE"/>
<xs:enumeration value="START_OF_SUBSCRIPTION"/>
<xs:enumeration value="CHANGE_OF_PLAN"/>
<xs:enumeration value="CHANGE_OF_PRICELIST"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="planAlignmentCreate">
<xs:restriction base="xs:string">
<xs:enumeration value="START_OF_BUNDLE"/>
<xs:enumeration value="START_OF_SUBSCRIPTION"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="billingAlignment">
<xs:restriction base="xs:string">
<xs:enumeration value="ACCOUNT"/>
<xs:enumeration value="BUNDLE"/>
<xs:enumeration value="SUBSCRIPTION"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
